.vertical_nav, .collapse_menu .collapse_menu--icon {
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	z-index: 9999;
}
* {
	box-sizing: border-box;
}
:focus, :active {
	outline: none;
}
.toggle_menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	padding: 0;
	background: none;
	border: 0;
	text-align: center;
	cursor: pointer;
}
.toggle_menu i {
	display: block;
	font-size: 28px;
}
.vertical_nav {
	position: fixed;
	left: -200px;
	top: 50px;
	bottom: 0px;
	width: 200px;
	background: #fff;
}
.vertical_nav__closed {
	left: -200px !important;
}
.vertical_nav__opened {
	left: 0px !important;
}
.menu {
	position: absolute;
	top: 0;
	bottom: 40px;
	overflow-y: auto;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.menu--item {
	position: relative;
	min-height: 30px;
	line-height: 30px;
	padding-left: 20px;
}
.menu--item__has_sub_menu .menu--link:after {
	position: absolute;
	top: 0;
	right: 15px;
	height: 40px;
	line-height: 40px;
	font-family: "FontAwesome";
	content: "\f0d7";
}
.menu--subitens__opened {
	background: #fff;
	color: #000;
}
.menu--subitens__opened .menu--link {
	color: #000;
}
.menu--subitens__opened .sub_menu {
	display: block;
}
.menu--link {
	display: block;
	overflow: hidden;
	font-size: 1.5rem;
	text-decoration: none;
	color: #000;
	font-weight: 400;
	white-space: nowrap;
	cursor: pointer;
}
.menu--link:hover, .menu--link:hover .menu--label {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	opacity: 0.6;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
}
.menu--icon {
	display: block;
	float: left;
	width: 50px;
	height: 40px;
	line-height: 40px;
	font-size: 2rem;
}
.menu--label {
	display: block;
	height: 40px;
	line-height: 40px;
}
.sub_menu {
	display: none;
	overflow: hidden;
	padding-left: 0;
	list-style: none;
}
.sub_menu--link {
	display: block;
	padding-left: 10px;
	padding-right: 16px;
	font-size: 80%;
	color: #000;
	text-decoration: none;
}
.sub_menu--link:hover {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	opacity: 0.6;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
}
.sub_menu--link__active {
	color: #000;
	font-weight: 500;
}
.collapse_menu {
	display: none;
}

@media (min-width: 768px) {
.vertical_nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 250px;
	background: none;
	width: 200px;
	text-align: center;
}
.toggle_menu {
	display: none;
}
.menu--item {
	position: relative;
	min-height: 50px;
	line-height: 50px;
	padding: 0;
}
.menu--link {
	font-size: 2rem;
}
.sub_menu--link {
	font-size: 1.2rem;
}
.menu--item__has_sub_menu .menu--link:after {
	display: none;
}
}
